<% content_for :title, "New submission" %>
<h1>New deliverable submission</h1>

<%= render :partial => "editable_deliverable_submission",
           :locals => { :button_name => "Create"} %>

<%= link_to 'Back', deliverable_submissions_path %><br/>
